baseURL: "https://pythonpune.in"
languageCode: "en-us"
title: "PythonPune"

# googleAnalytics: ''
menu:
  blognav:
  - identifier: events
    name: Events
    title: Posts related to events
    url: /categories/event/
    weight: -100
  - identifier: newsletters
    name: Newsletters
    title: Monthly newsletters
    url: /categories/newsletter/
    weight: -90
  - identifier: tags
    name: Tags
    title: Tags
    url: /tags/
    weight: -80
  postpend:
  - url: /categories/event/
    name: Meetings
    title: Posts related to events
    weight: 8
  - url: /categories/newsletter/
    name: Newsletters
    title: Monthly newsletters
    weight: 9
  - url: 'https://www.meetup.com/pythonpune/'
    name: Meetup Page
    title: Visit PythonPune on meetup.com
    weight: 10
params:
  name: PythonPune
  description: PythonPune Community
  custom_css: []
  custom_js: []
  favicon: favicon.ico
  disableFonts: false
  navigation:
    brand: PythonPune
    logo: PythonPune_banner.svg
    about: About
    recent: Events
    portfolio: Meetings
    team: Team
    join: Join Us
    contact: Contact
  hero:
    title: Welcome to PythonPune
    subtitle: It's nice to meet you
    buttonText: Tell me more
    img: PythonPune_banner.svg
  about:
    enable: true
    title: About us
    subtitle: |
        This is the community of **Python programmers** and
        **Free/Libre and Open Source Software (FLOSS) lovers** in Pune
        (India) and beyond.
    row:
    - list:
      - icon: fa-users
        title: Community
        description: |
          We are a diverse community of attendees & volunteers ranging
          from people who use Python for their day job to people who
          aren’t from a technical background but use Python to solve
          interesting problems or just have fun using it. We always
          make sure that everyone follows the [code of
          conduct](/code-of-conduct).
        url: '#'
      - icon: fa-code
        title: Develop
        description: |
          Linkstatus, bot-irc, rsvp-lib and our website are some of
          the [projects](https://github.com/pythonpune/) that our
          volunteers currently maintain. Besides that, we are always
          open to hack on any Free/Libre and Open Source project in
          our monthly meetups. Check out the [developer
          sprints](/tags/devsprint/) which we conducted in past.
        url: '#'
      - icon: fa-meetup
        title: Meetups
        description: |
          Our meetups are an open platform, we always encourage
          speakers specially the first timers to showcase their work
          or share their knowledge with everyone. All the variety of
          topics which are not just related to Python are
          welcome. Submitting a talk is as easy as creating an [issue
          on
          GitHub](https://github.com/pythonpune/meetup-talks/issues/new?&labels=talk-proposal&template=propose-a-talk.md).
        url: '#'
  recent:
    enable: false
  portfolio:
    enable: false
    title: Previous Meetings
    subtitle: ''
    modal:
      client: Link
      date: Date
      category: Category
      buttonText: Close
  team:
    enable: false
  join:
    enable: true
    center: true
    title: How to join us?
    subtitle: Easy to connect us with these open platforms
    row:
    - list:
      - icon: fa-telegram
        title: Telegram
        description: >-
          Join **PythonPune** Telegram group to chat with us (linked
          with the IRC channel).
        url: 'http://tel.pythonpune.in'
      - icon: fa-comments-o
        title: IRC Channel
        description: 'Chat with us on IRC channel <b>#pythonpune</b> at freenode.'
        url: 'https://webchat.freenode.net/#pythonpune'
      - icon: fa-envelope-o
        title: Mailing list
        description: >-
          Join **PythonPune mailing list** to get important announcements and
          participate in discussions.
        url: 'https://groups.google.com/forum/#!forum/pythonpune'
  clients_list:
    enable: false
  contact:
    enable: false
  footer:
    enable: true
    copyright: >-
      Copyright © 2013-2021 PythonPune. [![License: CC BY-SA
      4.0](https://licensebuttons.net/l/by-sa/4.0/80x15.png)](https://creativecommons.org/licenses/by-sa/4.0/)
      [More
      details](https://github.com/pythonpune/meetup-talks#license).
    social:
    - icon: fa-twitter
      link: 'https://twitter.com/pythonpune'
      title: Twitter
    - icon: fa-facebook
      link: 'https://www.facebook.com/pythonpune'
      title: Facebook
    - icon: fa-linkedin
      link: 'https://www.linkedin.com/company/pythonpune/'
      title: LinkedIn
    - icon: fa-meetup
      link: 'https://www.meetup.com/PythonPune'
      title: Meetup.com
    quicklinks:
    - text: Code of Conduct
      link: '/code-of-conduct'
  floatbutton:
    enable: true
    text: '<i class="fa fa-telegram"></i> Chat'
    link: 'http://tel.pythonpune.in'
markup:
  goldmark:
    renderer:
      unsafe: true
module:
  imports:
  - path: github.com/pythonpune/website-theme
  - path: github.com/bep/portable-hugo-links
    mounts:
    - source: layouts/_default/_markup/render-link.html
      target: layouts/_default/_markup/render-link.html
  mounts:
  - source: content
    target: content
  - source: CODE_OF_CONDUCT.md
    target: content/code-of-conduct/index.md
